{% extends 'base.html' %}


{% block title %}
    Alarms
{% endblock %}

{% block content %}

{% if not situation_id %}
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-clock mr-1"></i>
          Time
        </h3>
        <div class="card-tools">
          <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
              <a class="nav-link {% if t == '60' %} active {% endif %}" href="/alarms?t=60">Last Hour</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if t == '1440' %} active {% endif %}" href="/alarms?t=1440">Last Day</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if t == '10080' %} active {% endif %}" href="/alarms?t=10080">Last Week</a>
            </li>
          </ul>
        </div>
      </div><!-- /.card-header -->
    </div>
{% endif %}
<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">Layer 2</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>Operational Status</th>
          <th>Network Element</th>
          <th>Resource</th>
          <th>Action</th>
          <th>Raised</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody class="alarm_tbody">
        {% for alarm in alarms_l2 %}
        <tr>
          <td><h5><span class="badge badge-{{ alarm.get_color }}">{{ alarm.status }}</span></h5></td>
          <td>{{ alarm.path }}</td>
          <td>{{ alarm.notification_type }}</td>
          <td>{{ alarm.action }}</td>
          <td>{{ alarm.raised }}</td>
          <td class="text-center"><i id="{{ alarm.id }}" class="fas fa-times-circle fa-lg removeevent" style="color:red;"></i></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
  </div>
  <!-- /.card-footer -->
</div>
<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">Layer 1</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>Severity</th>
          <th>Description</th>
          <th>Network Element</th>
          <th>Resource</th>
          <th>Raised</th>
          <th>Cleared</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for alarm in alarms_l1 %}
        <tr>
          <td><h5><span class="badge badge-{{ alarm.get_color }}">{{ alarm.severity }}</span></h5></td>
          <td>{{ alarm.description }}</td>
          <td>{{ alarm.network_element_name }}</td>
          <td>{{ alarm.resource }}</td>
          <td>{{ alarm.raised }}</td>
          <td>{{ alarm.cleared }}</td>
        <td class="text-center"><i id="{{ alarm.id }}" class="fas fa-times-circle fa-lg removealarm" style="color:red;"></i></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
  </div>
  <!-- /.card-footer -->
</div>
<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">Layer 0</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>Severity</th>
          <th>Description</th>
          <th>Network Element</th>
          <th>Resource</th>
          <th>Raised</th>
          <th>Cleared</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for alarm in alarms_l0 %}
        <tr>
          <td><h5><span class="badge badge-{{ alarm.get_color }}">{{ alarm.severity }}</span></h5></td>
          <td>{{ alarm.description }}</td>
          <td>{{ alarm.network_element_name }}</td>
          <td>{{ alarm.resource }}</td>
          <td>{{ alarm.raised }}</td>
          <td>{{ alarm.cleared }}</td>
        <td class="text-center"><i id="{{ alarm.id }}" class="fas fa-times-circle fa-lg removealarm" style="color:red;"></i></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
  </div>
  <!-- /.card-footer -->
</div>
<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">All Layers</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>

          <th>Severity</th>
          <th>Description</th>
          <th>Network Element</th>
          <th>Raised</th>
          <th>Cleared</th>
          <th>Layer</th>
        </tr>
        </thead>
        <tbody>
        {% for alarm in alarms_all %}
        <tr>
          <td><h5><span class="badge badge-{{ alarm.get_color }}">
                    {% if alarm.severity %}
                        {{ alarm.severity }}
                    {% else %}
                        {{ alarm.status }}
                    {% endif %}
                  </span></h5></td>
          <td>
              {% if alarm.description %}
                  {{ alarm.description }}
              {% else %}
                  {{ alarm.notification_type }}
                  -
                  {{ alarm.action }}
              {% endif %}
          </td>
          <td>
              {% if alarm.network_element_name %}
                  {{ alarm.network_element_name }}
              {% else %}
                  {{ alarm.path }}
              {% endif %}
          </td>
          <td>{{ alarm.raised }}</td>
          <td>{{ alarm.cleared }}</td>
          <td>
              {% if alarm.layer == None %}
                  {{ 2 }}
              {% else %}
                  {{ alarm.layer }}
              {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
  </div>
  <!-- /.card-footer -->
</div>
{% endblock %}