{% extends 'base.html' %}
{% load staticfiles %}


{% block css %}
{% endblock %}


{% block title %}
    Details
{% endblock %}


{% block content %}
<div class="position-relative mb-4">
  <canvas id="visitors-chart" height="200"></canvas>
</div>

<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">Failed Layer</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>Severity</th>
          <th>Description</th>
          <th>Network Element</th>
          <th>Resource</th>
          <th>Uniqueness</th>
          <th>Resource Performance Change</th>
        </tr>
        </thead>
        <tbody>
        {% for alarm in alarms %}
        <tr>
          <td><h5><span class="badge badge-{{ alarm.get_color }}">{{ alarm.severity }}</span></h5></td>
          <td>{{ alarm.description }}</td>
          <td>{{ alarm.network_element_name }}</td>
          <td>{{ alarm.resource }}</td>
          <td>{{ alarm.get_uniqueness|make_list|slice:':4'|join:'' }}</td>
          <td>{{ alarm.get_performance_change|add:"-100"|make_list|slice:'1:'|join:'' }} %</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
  </div>
  <!-- /.card-footer -->
</div>
{% endblock %}


{% block script %}
    <script>
        var timedates = {{ timedates | safe}}
        var performances = {{ performances | safe}}
        var lables = {{ lables | safe}}
    </script>
    <script src="{% static 'dist/js/details.js'%}"></script>
{% endblock %}