{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block title %}
    Monitor
{% endblock %}

{% block content %}
    <div class="position-relative mb-4">
      <canvas id="visitors-chart" height="200"></canvas>
    </div>
{% endblock %}

{% block script %}
    <script>
        var monitors = {{ monitors | safe}}
        var timedates = {{ timedates | safe}}
    </script>
    <script src="{% static 'dist/js/monitor.js'%}"></script>
{% endblock %}