{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block title %}
    Nodes
{% endblock %}

{% block content %}
    <div id="service_div">
        <div class="graph_desc">Nodes</div>
        <div id="cy"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var nodes = {{ nodes | safe}}
    </script>
    <script src="{% static 'dist/js/nodes.js'%}"></script>
{% endblock %}