{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block title %}
    Service
{% endblock %}

{% block content %}
    <div id="service_div">
        <div class="graph_desc">Services</div>
        <div id="cy"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var services = {{ services | safe}}
        var localized_statuses = {{ localized_statuses | safe}}
        var nodes = {{ nodes | safe}}
    </script>
    <script src="{% static 'dist/js/services.js'%}"></script>
{% endblock %}