{% extends 'base.html' %}
{% load staticfiles %}


{% block css %}
    <link rel="stylesheet" href="{% static 'dist/css/similarity.css'%}">
{% endblock %}


{% block title %}
    Similarity
{% endblock %}


{% block content %}

    <div id="similarity">{{ s2s.similarity }} %</div>
    <div id="wrapper">


        <div class="row">
            <div class="left">Situation</div>
            <div class="middle"></div>
            <div class="right">Similar Situation</div>
        </div>


        <div class="row">
            <div class="left">{{ situation.root_alarm.description }}</div>
            <div class="middle">Root Alarm</div>
            <div class="right">{{ similar_situation.root_alarm.description }}</div>
        </div>


        <div class="row">
            <div class="left">{{ situation.root_cause_description }}</div>
            <div class="middle">Operator Defined Description</div>
            <div class="right">{{ similar_situation.root_cause_description }}</div>
        </div>


        <div class="row">
            <div class="left">{{ situation.raised }}</div>
            <div class="middle">Raised</div>
            <div class="right">{{ similar_situation.raised }}</div>
        </div>


        <div class="row">
            <div class="left">{{ situation.cleared }}</div>
            <div class="middle">Cleared</div>
            <div class="right">{{ similar_situation.cleared }}</div>
        </div>


        <div class="row">
            <div class="left">
                {% for mutual_alarm in mutual_alarms %}
                    <div class="mutual_alarm_description">
                        {{ mutual_alarm }}
                    </div>
                    <div class="mutual_alarm_resource">
                        {% for situation_alarm in situation_alarms %}
                            {% if mutual_alarm == situation_alarm.description %}
                                {{ situation_alarm.resource }} @ {{ situation_alarm.network_element_name }}
                                </br>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="middle">Mutual Alarms in Failed Layer</div>
            <div class="right">
                {% for mutual_alarm in mutual_alarms %}
                    <div class="mutual_alarm_description">
                        {{ mutual_alarm }}
                    </div>
                    <div class="mutual_alarm_resource">
                        {% for similar_situation_alarm in similar_situation_alarms %}
                            {% if mutual_alarm == similar_situation_alarm.description %}
                                {{ similar_situation_alarm.resource }} @ {{ similar_situation_alarm.network_element_name }}
                                </br>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="row">
            <div class="left">
                {% for situation_nonmutual_alarm in nonmutual_alarms.0 %}
                    <div class="mutual_alarm_description">
                        {{ situation_nonmutual_alarm }}
                    </div>
                    <div class="mutual_alarm_resource">
                        {% for situation_alarm in situation_alarms %}
                            {% if situation_nonmutual_alarm == situation_alarm.description %}
                                {{ situation_alarm.resource }} @ {{ situation_alarm.network_element_name }}
                                </br>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="middle">NonMutual Alarms in Failed Layer</div>
            <div class="right">
                {% for similar_situation_nonmutual_alarm in nonmutual_alarms.1 %}
                    <div class="mutual_alarm_description">
                        {{ similar_situation_nonmutual_alarm }}
                    </div>
                    <div class="mutual_alarm_resource">
                        {% for similar_situation_alarm in similar_situation_alarms %}
                            {% if similar_situation_nonmutual_alarm == similar_situation_alarm.description %}
                                {{ similar_situation_alarm.resource }} @ {{ similar_situation_alarm.network_element_name }}
                                </br>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="row">
            <div class="left" id="service1"></div>
            <div class="middle"></div>
            <div class="right" id="service2"></div>
        </div>


    </div>
{% endblock %}

{% block script %}
    <script>
        var services_js_addr = "{% static 'dist/js/services.js'%}"

        var services = {{ services | safe}}
        var localized_statuses = {{ localized_statuses | safe}}
        var nodes = {{ nodes | safe}}

        var services2 = {{ services2 | safe}}
        var localized_statuses2 = {{ localized_statuses2 | safe}}
        var nodes2 = {{ nodes2 | safe}}

        var services_1_ids = {{ services_1_ids }}
        var services_2_ids = {{ services_2_ids }}


    </script>
    <script src="{% static 'dist/js/similarity.js'%}"></script>
{% endblock %}