{% extends 'base.html' %}


{% block title %}
    Situations
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">Situations</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>Severity</th>
          <th>Probable Root Alarm Description</th>
          <th>Root Cause Layer</th>
          <th>Alarm Count</th>
          <th>Affected Node Count</th>
          <th>Affected Service Count</th>
          <th>Similar Situation - Similarity (%)</th>
          <th>Raised</th>
          <th>Cleared</th>
        </tr>
        </thead>
        <tbody>
        {% for situation in situations %}
        <tr>
          <td><a href="/alarms?situation={{ situation.id }}&severity={{ situation.severity }}">
              <h5><span class="badge badge-{{ situation.color }}">{{ situation.severity }}</span></h5>
          </a></td>
          <td><a href="/details?situation={{ situation.id }}">{{ situation.probable_root_alarm }}</a></td>
          <td><a href="/services?{% for affected_service in situation.affected_services %}ids={{ affected_service.id }}&{% endfor %}">
              {{ situation.failed_layer }}</a></td>
          <td><a href="/alarms?situation={{ situation.id }}">{{ situation.alarm_count }}</a></td>
          <td><a href="/nodes?{% for node in situation.affected_nodes %}nodes={{ node }}&{% endfor %}">
              {{ situation.affected_nodes | length }}</a></td>
          <td><a href="/services?{% for affected_service in situation.affected_services %}ids={{ affected_service.id }}&{% endfor %}">
              {{ situation.affected_services | length }}</a></td>
          <td>
              {% for situation_to_situation in situation.situation_to_situation %}
                    {% if situation_to_situation.situation_1.id == situation.id %}
                        {% with similar_situation_id=situation_to_situation.situation_2.id %}
                            <a href="/similarity?situation_1={{ situation.id }}&situation_2={{ similar_situation_id }}">
                                {{ situation_to_situation.similarity }}%
                            </a>
                            -
                            <a href="/situations?situation={{ similar_situation_id }}">
                                #{{ similar_situation_id }}
                            </a>
                        {% endwith %}
                    {% else %}
                        {% with similar_situation_id=situation_to_situation.situation_1.id %}
                            <a href="/similarity?situation_1={{ situation.id }}&situation_2={{ similar_situation_id }}">
                                {{ situation_to_situation.similarity }}%
                            </a>
                            -
                            <a href="/situations?situation={{ similar_situation_id }}">
                                #{{ similar_situation_id }}
                            </a>
                        {% endwith %}
                    {% endif %}

              {% endfor %}
          </td>
          <td>{{ situation.raised }}</td>
          <td>{{ situation.cleared }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
  </div>
  <!-- /.card-footer -->
</div>

{% endblock %}