{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block title %}
    Topology
{% endblock %}

{% block content %}
    <div id="service_div">
        <div class="graph_desc">Services</div>
        <div id="cy"></div>
    </div>
    <div id="loc_div">
        <div class="graph_desc">Localized Failed Services</div>
        <div id="cy_loc"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var services = {{ services | safe}}
        var services_status = {{ services_status | safe}}
        var localized_statuses = {{ localized_statuses | safe}}
    </script>
    <script src="{% static 'dist/js/topology.js'%}"></script>
{% endblock %}